.top-area {
    background-color: #635CDB;
    padding: 10px 0;
  }
  .top-area a {
    color: #fff;
  }
  .header-left a {
    margin-right: 15px;
  }
  .header-left a i {
    padding-right: 5px;
  }
  .header-social a {
    margin-left: 10px;
  }
  .mainmenu ul li.nav-item a.nav-link {
	color: black;
	font-weight: bold;
	opacity: 1;
}
.slider-area .container-fluid{
    padding:0;
}
.slider-area .carousel-caption {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    right:0;
    padding:0;
    bottom:0;
}
.about-left a {
	color: white;
	text-transform: capitalize;
}
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.about-box .media{
    align-items: center;
}


.about-box .media {
    margin-bottom: 20px;
  }
  .about-box .media i {
    border: 1px solid teal;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }
  .about-box .media .media-body {
    margin-left: 20px;
  }
  .about-box .media .media-body h5 {
    position: relative;
    padding-bottom: 10px;
  }
  .media-body {
  }
  .about-box .media .media-body h5:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: tomato;
    bottom: 0;
    left: 0;
  }
 .skill-area .card-header {
	padding: 5px;
	margin-bottom: 0;
	background-color: #635CDB;
	border-bottom: 0;
}
.skill-area .btn-link{
    color:#fff;
}
.skill-area .card{
    border-radius:0;
}